# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
config.py
*.log